<% layout("/layouts/boilerplateClient.ejs") %>

    <main id='brand-main'>
        <!-- brand heading section -->
        <header class="brand-header">
            <section class="brand-container flex">
                <div class="brand-logo-container">
                    <img src="<%=brand.logo.url %> " alt="" class="brand-logo">
                </div>
                <div class="brand-header-container flex">
                    <div class="brand-heading-container flex">
                        <div class="brand-header-title-container flex">
                            <div class="brand-type"><i class="fa-solid fa-building"></i> Public Company</div>
                            <div class="brand-name">
                                <%= brand.name %>
                            </div>
                            <a href="https://www.nvidia.com" class="brand-website">
                                <%= brand.website %>
                            </a>
                        </div>
                        <div class="brand-user-options flex">
                            <div class="brand-add-notes header-btn"><i class="fa-solid fa-clipboard"></i> Add Brand
                                Note
                            </div>
                            <div class="brand-subscribe-status header-btn"><i class="fa-solid fa-circle-check"></i>
                                Subscribed</div>
                        </div>
                    </div>
                    <div class="brand-header-tab-container flex">
                        <div class="brand-header-tab selected">
                            Summary
                        </div>
                        <div class="brand-header-tab">
                            Financial
                        </div>
                        <div class="brand-header-tab">
                            Contacts
                        </div>
                        <div class="brand-header-tab">
                            Signals & News
                        </div>
                    </div>
                </div>
            </section>
        </header>

        <!-- brand detail section -->
        <article class="brand-about" id="summary">
            <section class="brand-container flex">
                <div class="brand-details flex">
                    <div class="brand-details-heading flex">
                        <h1 class="brand-section-title">
                            <i class="fa-regular fa-building"></i> Brand Details
                        </h1>
                        <p class="brand-details-description">
                            <%= brand.description %>
                        </p>
                    </div>
                    <div class="brand-detail-list flex">
                        <ul class="flex">
                            <li class="brand-detail-item">
                                <span class="brand-detail-icon location"><i class="fa-solid fa-location-dot"></i></span>
                                <span class="brand-location">
                                    <%= brand.headquarters %>
                                </span>
                            </li>
                            <li class="brand-detail-item">
                                <span class="brand-detail-icon employee"><i class="fa-solid fa-user"></i></span>
                                <span class="brand-employee">
                                    <%= brand.employee %>
                                </span>
                            </li>
                            <li class="brand-detail-item">
                                <span class="brand-detail-icon stock"><i class="fa-solid fa-chart-line"></i></span>
                                <span class="brand-stock">
                                    <%= brand.typeOfCompany.stockTicker %>
                                </span>
                            </li>
                            <li class="brand-detail-item">
                                <a href="https://www.<%= brand.socialMedia.facebook.profileHandle  %>">
                                    <span class="brand-detail-icon facebook"><i
                                            class="fa-brands fa-facebook"></i></span>
                                    <span class="brand-facebook">
                                        <%= brand.socialMedia.facebook.likes %> Likes
                                    </span>
                                </a>
                            </li>
                            <li class="brand-detail-item">
                                <a href="https://www.<%= brand.socialMedia.twitter.profileHandle  %>">
                                    <span class="brand-detail-icon twitter"><i class="fa-brands fa-twitter"></i></span>
                                    <span class="brand-twitter">
                                        <%= brand.socialMedia.twitter.followers %> Followers
                                    </span>
                                </a>
                            </li>
                            <li class="brand-detail-item">
                                <a href="https://www.<%= brand.socialMedia.linkedin.profileHandle %>">
                                    <span class="brand-detail-icon linkedin"><i
                                            class="fa-brands fa-linkedin"></i></span>
                                    <span class="brand-linkedin"> Actively Hiring</span>
                                </a>
                            </li>

                        </ul>
                        <ul class="flex">
                            <li class="brand-detail-item">
                                <span class="brand-detail-item-property">Industry: </span>
                                <span class="brand-industry">
                                    <%= brand.industry %>
                                </span>
                            </li>
                            <li class="brand-detail-item">
                                <span class="brand-detail-item-property">Founded Date: </span>
                                <span class="brand-industry">
                                    <%= brand.foundedDate %>
                                </span>
                            </li>
                            <li class="brand-detail-item">
                                <span class="brand-detail-item-property">Founders: </span>
                                <span class="brand-industry">
                                    <%= brand.founders %>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="brand-hightlights flex">
                    <div class="brand-highlights-title">
                        <p class="brand-section-title">
                            <i class="fa-solid fa-bars-staggered"></i> Highlights
                        </p>
                    </div>
                    <div class="brand-highlights-container">
                        <ul class="brand-highlights-list flex">
                            <li class="brand-highlights-item">
                                <span class="brand-highlights-option">Acquisition: </span>
                                <span class="brand-highlights-number">
                                    <%= brand.highlights.acquisition %>
                                </span>
                            </li>
                            <li class="brand-highlights-item">
                                <span class="brand-highlights-option">Investment: </span>
                                <span class="brand-highlights-number">
                                    <%= brand.highlights.investment %>
                                </span>
                            </li>
                            <li class="brand-highlights-item">
                                <span class="brand-highlights-option">Yearly Ad Spend: </span>
                                <span class="brand-highlights-number">$<%= brand.highlights.adSpend %></span>
                            </li>
                            <li class="brand-highlights-item">
                                <span class="brand-highlights-option">Contacts: </span>
                                <span class="brand-highlights-number">
                                    <%= brand.highlights.contacts %>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- news and activity  -->
                <div class="brand-news-activity flex-column">
                    <div class="brand-news-activity-title">
                        <p class="brand-section-title">
                            <i class="fa-solid fa-rss"></i> News & Activity
                        </p>
                    </div>

                    <div class="brand-news-item flex-column">
                        <div class="brand-news__title-block flex">
                            <div class="brand-news__title-icon">
                                <i class="fa-solid fa-newspaper"></i>
                                <span>News ▫ </span>
                            </div>
                            <div class="brand-news__date">Apr 7, 2022</div>
                        </div>
                        <div class="brand-news__article-block">
                            <p class="brand-news-source">The Register</p>
                            <p class="brand-news-article">The Emerging Unicorn Board: Meet 300 Companies That Could Be
                                The Next Billion-Dollar Startups</p>
                        </div>
                    </div>
                </div>


            </section>
        </article>

        <!-- brand financial section -->
        <article class="brand-financial" id="financial">
            <section class="brand-container flex">
                <!-- <div class="brand-financial-block flex"> -->


                <div class="brand-financial-content flex">
                    <div class="brand-financial-stock flex">
                        <h1 class="brand-section-title">
                            <i class="fa-solid fa-chart-line"></i> Brand Financials
                        </h1>
                        <div class="brand-financial-stock-information flex">
                            <div class="stock-info flex">
                                <img src="<%=brand.logo.url %>" alt="" class="stock-logo">
                                <div class="stock-info-header flex">
                                    <p class="stock-company-name">Nvidia Corp.</p>
                                    <p class="stock-symbol-full">
                                        <span class="stock-symbol">NVDA</span>
                                        <span class="stock-index-country"><i class="fa-solid fa-flag-usa"></i></span>
                                        <span class="stock-index">NASDAQ</span>
                                    </p>
                                </div>
                            </div>

                            <div class="stock-stats flex">
                                <div class="stock-price-block">
                                    <span class="stock-price">267.34</span>
                                    <span class="stock-currency">USD </span>
                                    <span class="stock-change">+2.81 </span>
                                    <span class="stock-change-percent">(1.06%)</span>
                                </div>

                                <ul class="stock-stat-list flex">
                                    <li class="stock-stat-item">
                                        <p class="stock-upcoming-earning list-input">May 30</p>
                                        <span>UPCOMING EARNINGS</span>
                                    </li>

                                    <li class="stock-stat-item">
                                        <p class="stock-EPS list-input">6.08</p>
                                        <span>EPS</span>
                                    </li>
                                    <li class="stock-stat-item">
                                        <p class="stock-market-cap list-input">1.231T</p>
                                        <span>MARKET CAP</span>
                                    </li>
                                    <li class="stock-stat-item">
                                        <p class="stock-divident-yield list-input">0.28%</p>
                                        <span>DIVIDEND YIELD</span>
                                    </li>
                                    <li class="stock-stat-item">
                                        <p class="stock-PE list-input">25.02</p>
                                        <span>P/E</span>
                                    </li>
                                </ul>
                            </div>

                            <div class="stock-chart">
                                <!-- TradingView Widget BEGIN -->
                                <div class="tradingview-widget-container">
                                    <div id="tradingview_1d14d" style="height: 400px;"></div>
                                    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                                    <script type="text/javascript">
                                        new TradingView.widget(
                                            {
                                                "autosize": true,
                                                "symbol": "NASDAQ:NVDA",
                                                "interval": "D",
                                                "timezone": "Etc/UTC",
                                                "theme": "light",
                                                "style": "2",
                                                "locale": "en",
                                                "toolbar_bg": "#f1f3f6",
                                                "enable_publishing": false,
                                                "hide_top_toolbar": true,
                                                "save_image": false,
                                                "container_id": "tradingview_1d14d"
                                            }
                                        );
                                    </script>
                                </div>
                                <!-- TradingView Widget END -->
                            </div>
                        </div>
                    </div>

                    <div class="brand-financial-statistics flex">
                        <h1 class="brand-section-title">
                            <i class="fa-solid fa-money-check-dollar"></i> Financial Statistics
                        </h1>
                        <ul class="stock-statistics flex">
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Market Cap</span>
                                <span class="brand-highlights-number market-cap">609.62B</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Enterprise Value</span>
                                <span class="brand-highlights-number enterprise-value">600.10B</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Trailing P/E</span>
                                <span class="brand-highlights-number market-cap trailing-PE">63.34</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Forward P/E</span>
                                <span class="brand-highlights-number market-cap forward-PE">43.67</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Revenue</span>
                                <span class="brand-highlights-number market-cap revenue">26.91B</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Gross Profit</span>
                                <span class="brand-highlights-number market-cap gross-profit">17.48B</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Total Cash</span>
                                <span class="brand-highlights-number market-cap total-cash">21.21B</span>
                            </li>
                            <li class="brand-highlights-item stock-statistics-item flex">
                                <span class="brand-highlights-option">Total Debt</span>
                                <span class="brand-highlights-number market-cap">11.69B</span>
                            </li>

                        </ul>
                    </div>

                </div>

            </section>
        </article>


        <!-- brand contacts section -->
        <article class="brand-contacts" id="contacts">
            <section class="brand-container flex">

                <div class="brand-contacts-block flex">
                    <h1 class="brand-section-title">
                        <i class="fa-solid fa-address-book"></i> Contacts
                    </h1>

                    <div class="contacts-content">
                        <ul class="contacts-list">

                            <!-- Loop to get exactly 3 contacts here -->

                            <% if (brand.contact.length>0) { %> 
                                <% const number = brand.contact.length > 3? 3 : brand.contact.length %> 
                                <% for (let i=0; i < number; i++) { %>
                                    <li class="contacts-item">
                                        <div class="contacts-basics flex">
                                            <a href="<%= brand.contact[i].linkedin %>" class="contacts-name"><span
                                                    class="contacts-linkedin"><i class="fa-brands fa-linkedin"></i></span><%= brand.contact[i].name %>  </a>
                                            <p class="contacts-title"><%= brand.contact[i].position %></p>
                                            <p class="contacts-rank"><%= brand.contact[i].rank %></p>
                                        </div>
                                        <div class="contacts-info flex">
                                            <p class="contacts-email">
                                                <a href="mailto:<%= brand.contact[i].email %>">
                                                    <i class="fa-solid fa-envelope"></i> <%= brand.contact[i].email %>
                                                </a>
                                            </p>
                                            <p class="contacts-phone">
                                                <a href="tel:<%= brand.contact[i].phoneNumber %>">
                                                    <i class="fa-solid fa-square-phone"></i> <%= brand.contact[i].phoneNumber %>
                                                </a>
                                            </p>
                                        </div>
                                        <div class="contact-save">
                                            <div class="contacts-save-button">
                                                <i class="fa-solid fa-circle-plus"></i> SAVE
                                            </div>
                                        </div>
                                    </li>
                                <% } %> 
                            <% } %> 

                            <!-- <li class="contacts-item">
                                <div class="contacts-basics flex">
                                    <a href="https://www.linkedin.com" class="contacts-name"><span
                                            class="contacts-linkedin"><i class="fa-brands fa-linkedin"></i></span> Peter
                                        Dunham</a>
                                    <p class="contacts-title">Chief Architect</p>
                                    <p class="contacts-rank">Executive Engineering</p>
                                </div>
                                <div class="contacts-info flex">
                                    <p class="contacts-email">
                                        <a href="mailto:peterdunham@nvidia.com">
                                            <i class="fa-solid fa-envelope"></i> peterdunham@nvidia.com
                                        </a>
                                    </p>
                                    <p class="contacts-phone">
                                        <a href="tel:100-100-1000">
                                            <i class="fa-solid fa-square-phone"></i> 100-100-1000
                                        </a>
                                    </p>
                                </div>
                                <div class="contact-save">
                                    <div class="contacts-save-button">
                                        <i class="fa-solid fa-circle-plus"></i> SAVE
                                    </div>
                                </div>
                            </li>

                            <li class="contacts-item">
                                <div class="contacts-basics flex">
                                    <a href="https://www.linkedin.com" class="contacts-name"><span
                                            class="contacts-linkedin"><i class="fa-brands fa-linkedin"></i></span> Peter
                                        Dunham</a>
                                    <p class="contacts-title">Chief Architect</p>
                                    <p class="contacts-rank">Executive Engineering</p>
                                </div>
                                <div class="contacts-info flex">
                                    <p class="contacts-email">
                                        <a href="mailto:peterdunham@nvidia.com">
                                            <i class="fa-solid fa-envelope"></i> peterdunham@nvidia.com
                                        </a>
                                    </p>
                                    <p class="contacts-phone">
                                        <a href="tel:100-100-1000">
                                            <i class="fa-solid fa-square-phone"></i> 100-100-1000
                                        </a>
                                    </p>
                                </div>
                                <div class="contact-save">
                                    <div class="contacts-save-button">
                                        <i class="fa-solid fa-circle-plus"></i> SAVE
                                    </div>
                                </div>
                            </li>

                            <li class="contacts-item">
                                <div class="contacts-basics flex">
                                    <a href="https://www.linkedin.com" class="contacts-name"><span
                                            class="contacts-linkedin"><i class="fa-brands fa-linkedin"></i></span> Peter
                                        Dunham</a>
                                    <p class="contacts-title">Chief Architect</p>
                                    <p class="contacts-rank">Executive Engineering</p>
                                </div>
                                <div class="contacts-info flex">
                                    <p class="contacts-email">
                                        <a href="mailto:peterdunham@nvidia.com">
                                            <i class="fa-solid fa-envelope"></i> peterdunham@nvidia.com
                                        </a>
                                    </p>
                                    <p class="contacts-phone">
                                        <a href="tel:100-100-1000">
                                            <i class="fa-solid fa-square-phone"></i> 100-100-1000
                                        </a>
                                    </p>
                                </div>
                                <div class="contact-save">
                                    <div class="contacts-save-button">
                                        <i class="fa-solid fa-circle-plus"></i> SAVE
                                    </div>
                                </div>
                            </li> -->
                        </ul>

                        <div class="view-more-block">

                            <button class="view-more-btn">View More</button>
                        </div>
                    </div>

                </div>

                <div class="brand-leadership-block flex">
                    <h1 class="brand-section-title">
                        <i class="fa-solid fa-users"></i> Leadership
                    </h1>

                    <ul class="leadership-list flex">

                        <!-- Loop to get exactly 6 or less leadership display here -->

                        <% if (brand.leadership.length>0) { %> 
                            <% const number = brand.leadership.length > 6? 6 : brand.leadership.length %> 
                            <% for (let i=0; i < number; i++) { %>
                                <li class="leadership-list-item flex">
                                    <img src="<%= brand.leadership[i].profilePicture.url %>" alt="" class="leadership-profile">
                                    <div class="leadership-detail flex">
                                        <p class="leadership-name"><%= brand.leadership[i].name %></p>
                                        <p class="leadership-role"><%= brand.leadership[i].position %></p>
                                    </div>
                                </li>
                            <% } %> 
                        <% } %> 

                        <!-- <li class="leadership-list-item flex">
                            <img src="../images/nvidia/jensen.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Jensen Huang</p>
                                <p class="leadership-role">Founder, President and CEO</p>
                            </div>
                        </li>

                        <li class="leadership-list-item flex">
                            <img src="../images/nvidia/Chris.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Chris Malachowsky</p>
                                <p class="leadership-role">Co-Founder, SVP</p>
                            </div>
                        </li>

                        <li class="leadership-list-item flex">
                            <img src="../images/nvidia/colette.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Colette Kress</p>
                                <p class="leadership-role">EVP and Chief Financial Officer</p>
                            </div>
                        </li>

                        <li class="leadership-list-item flex">
                            <img src="../images/nvidia/alix.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Alix Hart</p>
                                <p class="leadership-role">Global Head of Digital Marketing</p>
                            </div>
                        </li>

                        <li class="leadership-list-item flex">
                            <img src="../images/nvidia/tony.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Tony Tamasi</p>
                                <p class="leadership-role">SVP, Content and Technology</p>
                            </div>
                        </li>

                        <li class="leadership-list-item flex">
                            <img src="../images/nvidia/greg.webp" alt="" class="leadership-profile">
                            <div class="leadership-detail flex">
                                <p class="leadership-name">Greg Estes</p>
                                <p class="leadership-role">VP Marketing</p>
                            </div>
                        </li> -->
                    </ul>



                    <button class="view-more-btn">View More</button>

                </div>


            </section>
        </article>

        <article class="brand-ad-spend">

        </article>

        <article class="brand-actions">

        </article>

    </main>