<% layout("/layouts/boilerplateClient.ejs") %>


    <main class="content-body">
        <!-- Home page left panel -->
        <aside class="home-left-panel">

            <div class="welcome-area">
                <% if (currentUser.profilePicture) { %>
                    <a href="/user-profile">
                        <img src="<%= currentUser.profilePicture.url %>" alt="" class="user-profile-avatar">
                    </a>
                    <% } else { %>
                        <a href="/user-profile">
                            <img src="/public/images/baseImgs/blank-profile-picture.png" alt=""
                                class="user-profile-avatar">
                        </a>
                        <% } %>
                            <div class="welcome-text-area">
                                <h3 class="welcome-text">Welcome,</h3>
                                <a href="/user-profile">
                                    <h3 class="user-profile-name">
                                        <% if (currentUser.firstName) { %>
                                            <%= currentUser.firstName %>
                                                <%= currentUser.lastName %>
                                                    <% } else { %>
                                                        <%= currentUser.username %>
                                                            <% } %>
                                    </h3>
                                </a>
                            </div>
            </div>


            <div class="user-functions">
                <p class="functions-title">User Functions</p>
                <p class="functions-title--lower-resolution">Functions</p>
                <ul class="user-functions-list functions-list">
                    <li class="user-functions-item">
                        <a href="" class="functions-item">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <span> Recommendations</span></a>
                    </li>
                    <li class="user-functions-item">
                        <a href="/user-profile" class="functions-item">
                            <i class="fa-solid fa-align-justify"></i>
                            <span> My Lists</span></a>
                    </li>
                    <li class="user-functions-item">
                        <a href="/user-profile" class="functions-item">
                            <i class="fa-solid fa-bookmark"></i>
                            <span> My Saved Contacts</span></a>
                    </li>
                    <li class="user-functions-item">
                        <a href="/user-profile" class="functions-item">
                            <i class="fa-solid fa-book"></i>
                            <span> My Followed Brands</span></a>
                    </li>
                </ul>
            </div>

            <div class="business-functions">
                <p class="functions-title">BrandInSights Explore</p>
                <p class="functions-title--lower-resolution">Explore</p>
                <ul class="business-functions-list functions-list">
                    <li class="business-functions-item">
                        <a href="" class="functions-item">
                            <i class="fa-solid fa-money-check"></i>
                            <span> Brands Search</span></a>
                    </li>
                    <li class="business-functions-item">
                        <a href="" class="functions-item">
                            <i class="fa-solid fa-address-book"></i>
                            <span> Discover Contacts</span></a>
                    </li>
                    <li class="business-functions-item">
                        <a href="" class="functions-item">
                            <i class="fa-solid fa-building-columns"></i>
                            <span> Private Investors</span></a>
                    </li>
                </ul>
            </div>


        </aside>

        <!-- home main content column -->
        <section class="home-column">

            <!-- treding brand list  -->
            <div class="home-trending-brands home-tab">
                <h1>Trending brands:</h1>
                <div class="home-column-title-line"></div>
                <ul class="brand-list">

                </ul>

                <div class="home-trending-view-more" data-module="trending-brands">
                    <button class="view-more-btn">View More</button>
                </div>
            </div>


            <!-- news activity from trending brands -->
            <div class="home-news-activity home-tab">
                <h1 class="home-newsfeed">News activity:</h1>
                <div class="home-column-title-line"></div>
                <ul class="home-newsfeed-list">
                    <li class="newsfeed-item">
                        <img src="https://icdn.digitaltrends.com/image/digitaltrends/alder-lake-mobility-chip.jpg"
                            alt="" class="news-image">
                        <div class="news-text-block">
                            <div class="news-avatar"></div>
                            <div class="news-title-block">
                                <h3 class="news-title">Engadget Podcast: Apple goes Super Ultra</h3>
                                <span class="news-source-name">Engadget</span>
                                <span> on </span>
                                <span class="news-published-date"> Mar 11, 2022</span>
                            </div>


                            <p class="news-content">This week, Cherlynn and Devindra dive into all of the news from
                                Apples
                                first
                                2022 event. Whats so great about the revamped iPhone SE? Is the new iPad Air better than
                                the
                                iPad Mini? And who really nee… [+1386 chars]</p>
                        </div>
                    </li>

                    <li class="newsfeed-item">
                        <img src="https://assets2.rockpapershotgun.com/msi-ge76-raider-2022.jpg/BROK/thumbnail/1600x900/format/jpg/quality/80/msi-ge76-raider-2022.jpg"
                            alt="" class="news-image">
                        <div class="news-text-block">
                            <div class="news-header">
                                <div class="news-avatar"></div>
                                <div class="news-title-block">
                                    <h3 class="news-title">Ubisoft says no user information was exposed in recent 'cyber
                                        security incident'</h3>
                                    <span class="news-source-name">Engadget</span>
                                    <span> on </span>
                                    <span class="news-published-date"> Mar 11, 2022</span>
                                </div>
                            </div>

                            <p class="news-content">South American hacking group Lapsus$ is claiming responsibility for
                                another
                                high-profile hack. On Thursday, Ubisoft said\r\n it underwent a “cyber security
                                incident”
                                last
                                week that saw some of its games, systems and services temporarily disrupted. At the
                                time, …
                            </p>
                        </div>
                    </li>

                    <li class="newsfeed-item">
                        <img src="https://icdn.digitaltrends.com/image/digitaltrends/rog-flow-z13-02.jpg" alt=""
                            class="news-image">
                        <div class="news-text-block">
                            <div class="news-avatar"></div>
                            <div class="news-title-block">
                                <h3 class="news-title">Intel may have the first 16-core laptop CPU</h3>
                                <span class="news-source-name">Digital Trends</span>
                                <span> on </span>
                                <span class="news-published-date"> Mar 11, 2022</span>
                            </div>

                            <p class="news-content">According to a freshly leaked benchmark, Intel may be about to set
                                new
                                standards in high-end gaming laptop performance. The upcoming Intel Core i9-12900HX
                                mobility
                                chip has been benchmarked and retur… [+3137 chars]</p>
                        </div>
                    </li>
                </ul>
            </div>

            <!-- Featured brand activities -->
            <div class="home-featured-brand-activities">

            </div>

            <!-- Newly added brands -->
            <div class="home-newly-added-brands"></div>


            <div class="home-internal-tool">
                <h1>Editing Tool:</h1>
                <div class="home-column-title-line"></div>
                <p>To manage and edit brand data, use the internal management tool</p>
                <a href="/internal" class="internal-tool-btn">Internal Tools</a>

            </div>
        </section>

        <!-- home page right panel -->
        <aside class="home-right-panel">
            <!-- subscribed brands -->
            <div class="home-subscribed-brands--media"><i class="fa-regular fa-bookmark"></i></div>
            <div class="home-subscribed-brands right-tab">
                <h2><i class="fa-regular fa-bookmark"></i> Subscribed Brands</h2>
                <ul class="right-brands-list right-brands-list__subscribed">

                </ul>
                <div class="right-brand-view-more flex" data-module="subscribed-brands">
                    <button class="view-more-btn">View More</button>
                </div>

            </div>

            <!-- recently viewed history -->
            <div class="home-recently-viewed--media"><i class="fa-regular fa-clock"></i></div>
            <div class="home-recently-viewed right-tab">
                <h2><i class="fa-regular fa-clock"></i> Recently Viewed Brands:</h2>
                <ul class="right-brands-list right-brands-list__viewed">

                </ul>

                <div class="right-brand-view-more flex" data-module="viewed-brands">
                    <button class="view-more-btn">View More</button>
                </div>
            </div>

            <!-- most ad spend last quarter -->
            <div class="home-most-ad-spend--media"><i class="fa-solid fa-dollar-sign"></i></div>
            <div class="home-most-ad-spend right-tab">
                <h2><i class="fa-solid fa-dollar-sign"></i> Most Ad Spend Last 12 Months:</h2>
                <ul class="right-brands-list right-brands-list__adSpend">

                </ul>

                <div class="right-brand-view-more flex" data-module="adSpend-brands">
                    <button class="view-more-btn">View More</button>
                </div>
            </div>


        </aside>


    </main>

    <script>
        // have to do it this way because of default formatter auto adding space to ejs
        // < % - will not work, space between % and - 
        let user = JSON.parse(`<%-JSON.stringify(currentUser)%>`);

        console.log('The current user at client home page is ');
        console.log(user);
    </script>

    <script src="/js/client/index.js" type="module" defer></script>