<% layout("/layouts/boilerplateInternal.ejs") %>

    <main id="internal-brand">
        <section class="section-brand-details">

            <div class="internal-brand-container brand-header">
                <div class="brand-logo-container">
                    <img src="<%=brand.logo.url %> " alt="" class="brand-logo">
                </div>

                <div class="brand-information-container">


                    <h1 class="brand-information-title internal-brand-title">Brand Information</h1>
                    <div class="internal-brand-title-line"></div>
                    <form action="/internal/brands/<%=brand._id%>?_method=PUT" method="POST" class="brand-information"
                        enctype="multipart/form-data">
                        <!-- Short input field for brand information -->
                        <div class="brand-information-short flex-column">
                            <div class="input-group flex">
                                <label for="brand-name">Brand Name: </label>
                                <input type="text" id="brand-name" name="brand[name]" class="short-input-field"
                                    value="<%= brand.name  %> ">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-employee">Brand Employee: </label>
                                <input type="number" id="brand-employee" name="brand[employee]"
                                    class="short-input-field" value="<%= brand.employee  %>">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-stock">Brand Stock: </label>
                                <input type="text" id="brand-stock" name="brand[typeOfCompany][stockTicker]"
                                    class="short-input-field" value="<%= brand.typeOfCompany.stockTicker  %>">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-founded-date">Brand Founded Date: </label>
                                <input type="number" min="1900" max="2099" step="1" id="brand-founded-date"
                                    name="brand[foundedDate]" class="short-input-field"
                                    value="<%= brand.foundedDate  %>">
                            </div>

                        </div>

                        <!-- Long input field for brand information -->
                        <div class="brand-information-long flex-column">

                            <div class="input-group flex">
                                <label for="brand-url">Brand Website: </label>
                                <input type="text" id="brand-url" name="brand[website]" value="<%= brand.website  %>">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-location">Brand Location: </label>
                                <input type="text" id="brand-location" name="brand[headquarters]"
                                    value="<%= brand.headquarters  %>">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-industry">Brand Industry: </label>
                                <input type="text" id="brand-industry" name="brand[industry]"
                                    value="<%= brand.industry  %>">
                            </div>

                            <div class="input-group flex">
                                <label for="brand-founders">Brand Founders: </label>
                                <input type="text" id="brand-founders" name="brand[founders]"
                                    value="<%= brand.founders  %>">
                            </div>
                        </div>


                        <!-- Social media block for brand information -->
                        <div class="brand-social-media flex-column">
                            <div class="input-group flex-column">
                                <label for="brand-facebook-handle"><i class="fa-brands fa-facebook"></i>Facebook</label>
                                <input type="text" id="brand-facebook-handle"
                                    name="brand[socialMedia][facebook][profileHandle]" class="short-input-field"
                                    value="<%= brand.socialMedia.facebook.profileHandle  %>">

                                <label for="brand-facebook-likes" id="brand-facebook-likes"><i
                                        class="fa-brands fa-facebook"></i>Facebook Likes</label>
                                <input type="text" name="brand[socialMedia][facebook][likes]" class="short-input-field"
                                    value="<%= brand.socialMedia.facebook.likes  %>">
                            </div>

                            <div class="input-group flex-column">
                                <label for="brand-twitter-handle"><i class="fa-brands fa-twitter"></i>Twitter</label>
                                <input type="text" id="brand-twitter-handle"
                                    name="brand[socialMedia][twitter][profileHandle]" class="short-input-field"
                                    value="<%= brand.socialMedia.twitter.profileHandle  %>">

                                <label for="brand-twitter-followers"><i class="fa-brands fa-twitter"></i>Twitter
                                    followers</label>
                                <input type="text" id="brand-twitter-followers"
                                    name="brand[socialMedia][twitter][followers]" class="short-input-field"
                                    value="<%= brand.socialMedia.twitter.followers %>">
                            </div>

                            <div class="input-group flex-column">
                                <label for="brand-linkedin-handle"><i class="fa-brands fa-linkedin"></i>Linkedin</label>
                                <input type="text" id="brand-linkedin-handle"
                                    name="brand[socialMedia][linkedin][profileHandle]" class="short-input-field"
                                    value="<%= brand.socialMedia.linkedin.profileHandle %>">
                            </div>
                        </div>

                        <!-- Brand description text block -->
                        <div class="description-input flex-column">
                            <label for="brand-description">Brand Description: </label>
                            <textarea name="brand[description]" id="brand-description" cols="30" rows="10"
                                value=""><%= brand.description %></textarea>
                        </div>

                        <!-- Brand logo upload -->
                        <div class="input-group logo-input flex-column">
                            <label for="brand-logo">Choose a Logo File:</label>
                            <input type="file" id="brand-logo" name="logo"
                                accept="image/png, image/jpeg, image/jpg, image/gif">
                        </div>


                        <!-- Submit change and save button group -->
                        <button class="internal-submit-brand-information internal-btn internal-btn-save flex">Save
                            Changes</button>

                    </form>

                </div>
            </div>


        </section>

        <!-- brand hightlights section -->
        <section class="section-brand-highlights">
            <div class="internal-brand-container">
                <div class="brand-highlights flex">
                    <div class="internal-brand-section-logo flex">
                        <img src="/images/internal/highlights.png" alt=""
                            class="highlights-image internal-brand-section-img">
                    </div>
                    <div class="brand-highlights-block">
                        <h1 class="brand-information-title internal-brand-title">Brand Highlights</h1>
                        <div class="internal-brand-title-line"></div>

                        <!-- Forms and input for brand highlights -->
                        <div class="brand-highlights-content">
                            <form action="/internal/brands/highlights/<%=brand._id%>?_method=PUT" method="POST"
                                class="brand-highlight-form ">
                                <div class="highlight-group flex-column">
                                    <div class="input-group flex">
                                        <label for="brand-acquisition">Brand Acquisitions:
                                        </label>
                                        <input type="number" id="brand-acquisition"
                                            name="brand[highlights][acquisition]"
                                            value="<%= brand.highlights.acquisition %>" class="short-input-field">
                                    </div>

                                    <div class="input-group flex">
                                        <label for="brand-investment">Brand Investments: </label>
                                        <input type="number" id="brand-investment" name="brand[highlights][investment]"
                                            value="<%= brand.highlights.investment %>" class="short-input-field">
                                    </div>
                                </div>

                                <div class="highlight-group flex-column">
                                    <div class="input-group flex">
                                        <label for="brand-yearly-ad-spend">Brand Yearly Ad
                                            Spends:
                                        </label>
                                        <input type="number" id="brand-yearly-ad-spend"
                                            name="brand[highlights][adSpend]" value="<%= brand.highlights.adSpend %>"
                                            class="short-input-field">
                                    </div>

                                    <div class="input-group flex">
                                        <label for="brand-contacts">Brand Contacts: </label>
                                        <input type="number" id="brand-contacts" name="brand[highlights][contacts]"
                                            value="<%= brand.highlights.contacts %>" class="short-input-field">
                                    </div>
                                </div>

                                <!-- Submit change and save button group -->
                                <div class="internal-brand-btn-group flex">
                                    <button
                                        class="internal-submit-brand-highlights internal-btn internal-btn-save flex">Save
                                        Changes</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
        </section>

        <!-- Brand Contacts Section -->
        <section class="section-brand-contacts">
            <div class="internal-brand-container">
                <div class="internal-brand-contacts flex">
                    <!-- contacts section logo -->
                    <div class="internal-brand-section-logo flex">
                        <img src="/images/internal/contacts.png" alt=""
                            class="highlights-image internal-brand-section-img">
                    </div>

                    <!-- contacts content -->
                    <div class="internal-brand-contacts-block flex-column">
                        <div class="brand-contacts-title-container">
                            <h1 class="brand-information-title internal-brand-title">Brand Contacts</h1>
                            <div class="internal-brand-title-line"></div>
                        </div>


                        <button class="contacts-add internal-btn internal-btn-add flex">Add New Contact</button>

                        <div class="contacts-list flex-column">
                            <form action="" class="internal-contacts-form flex-column">
                                <div class="contacts-personal-detail flex">
                                    <div class="internal-contacts-form-group flex-column">
                                        <div class="input-group flex">
                                            <label for="contacts-name">Name </label>
                                            <input type="text" id="contacts-name" name="contact[name]" value="" class="short-input-field">
                                        </div>
                                        <div class="input-group flex">
                                            <label for="contacts-rank">Rank </label>
                                            <input type="text" id="contacts-rank" name="contact[rank]" value="" class="short-input-field">
                                        </div>
                                        <div class="input-group flex">
                                            <label for="contacts-position">Position</label>
                                            <input type="text" id="contacts-position" name="contact[position]" value="" class="short-input-field">
                                        </div>
                                    </div>

                                    <div class="internal-contacts-form-group flex-column">
                                        <div class="input-group flex">
                                            <label for="contacts-email">Email </label>
                                            <input type="text" id="contacts-email" name="contact[email]" value="">
                                        </div>
                                        <div class="input-group flex">
                                            <label for="contacts-location">Location </label>
                                            <input type="text" id="contacts-location" name="contact[location]" value="">
                                        </div>
                                        <div class="input-group flex">
                                            <label for="contacts-phone">Phone</label>
                                            <input type="text" id="contacts-phone" name="contact[phoneNumber]" value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="contacts-submit-container flex">
                                    <div class="contacts-linkedin-handle flex">
                                        <label for="contacts-linkedin-handle"><i
                                                class="fa-brands fa-linkedin"></i></label>
                                        <input type="text" id="contacts-linkedin-handle" name="contact[linkedin]" value=""
                                            class="short-input-field">
                                    </div>

                                    <div class="internal-contacts-btn-group flex ">

                                        <button class="contacts-delete internal-btn internal-btn-delete flex">Delete
                                            Contact</button>
                                        <button class="contacts-submit internal-btn internal-btn-save flex">Save
                                            Changes</button>
                                    </div>
                                </div>

                            </form>
                        </div>


                    </div>
                </div>
            </div>
        </section>

        <!-- Brand leadership Section -->
        <section class="section-brand-leadership">
            <div class="internal-brand-container">
                <div class="internal-brand-leadership flex">

                    <!-- leadership section logo -->
                    <div class="internal-brand-section-logo flex">
                        <img src="/images/internal/leadership.png" alt=""
                            class="highlights-image internal-brand-section-img">
                    </div>

                    <div class="brand-leadership-container flex-column">

                        <div class="brand-leadership-title-container">
                            <h1 class="brand-information-title internal-brand-title">Brand Leadership</h1>
                            <div class="internal-brand-title-line"></div>
                        </div>


                        <button class="leadership-add internal-btn internal-btn-add flex">Add New Leadership</button>


                        <div class="brand-leadership-list">
                            <form class="brand-leadership-item-form">
                                <img src="../images/nvidia/jensen.webp" alt="" class="brand-leadership-profile">

                                <div class="input-group flex">
                                    <label for="leadership-name">Name</label>
                                    <input type="text" id="leadership-name" name="leadership-name" value="">
                                </div>

                                <div class="input-group flex">
                                    <label for="leadership-position">Position</label>
                                    <input type="text" id="leadership-position" name="leadership-position" value="">
                                </div>

                                <!-- Leadership profile picture upload -->
                                <div class="input-group flex">
                                    <label for="leadership-profile-picture">Choose a New Picture File to Upload:</label>
                                    <input type="file" id="leadership-profile-picture" name="leadership-profile-picture"
                                        accept="image/png, image/jpeg, image/jpg, image/gif">
                                </div>

                                <div class="leadership-btn-group flex ">
                                    <button class="contacts-delete internal-btn internal-btn-delete flex">Delete
                                        Person</button>
                                    <button class="contacts-submit internal-btn internal-btn-save flex">Save
                                        Changes</button>
                                </div>
                            </form>


                        </div>

                    </div>



                </div>
            </div>
        </section>
    </main>

    <script>
        // have to do it this way because of default formatter auto adding space to ejs
        // < % - will not work, space between % and - 
        let brand = JSON.parse('<%-JSON.stringify(brand)%>');
    </script>