<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="simple-nav">
        <a href="/"><button class="btn">Main Page</button></a>
        <a href="/home"><button class="btn">Home</button></a>
        <a href="/internal"><button class="btn">Internal </button></a>
    </div>

    <section class="brand-header">
        <img src="" alt="" class="brand-logo">
        <h1>Brand Detail Page</h1>
        <br>
        <h1 class="brand-name">
            <%=brand.name%>
        </h1>
        <h3 class="brand-headquarters">
            Locations: <%=brand.headquarters%>
        </h3>
        <h3 class="brand-employee">
            Employee: <%=brand.employee.min%>-<%=brand.employee.max%>
        </h3>
        <h3 class="brand-website">
            Website: <%=brand.website%>
        </h3>
        <h3 class="brand-description">
            Description: <%=brand.description%>
        </h3>

    </section>

    <div class="simple-nav">
        <a href="/brands/<%=brand._id%>/edit" class="btn brand-btn">Edit brand</a>
        <form action="/brands/<%=brand._id%>?_method=DELETE" method="POST">
            <button class="btn del-btn">Delete</button>
        </form>
        <a href="/brands" class="btn brand-btn">All brands</a>
    </div>