<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="simple-nav">
        <button class="btn"><a href="/">Main Page</a></button>
        <button class="btn"><a href="/home">Home</a></button>
        <button class="btn"><a href="/internal">Internal Page</a></button>

    </div>



    <section class="internal-main">
        <h1>Employee Access Only Page</h1>
        <h2>Edit all data and brands information here</h2>

        <br>

        <h1>Edit a brand:</h1>
        <form action="/brands/<%=brand._id%>?_method=PUT" method="POST" class="form-add" enctype="multipart/form-data">
            <div>
                <% if (brand.logo) { %>
                    <img src="<%=brand.logo.url%>" alt="<%=brand.name%>-logo" class="brand-logo" name="currentLogo" value="<%=brand.logo.filename%>">
                    <% } %>
                        <label for="logo">Re-upload Logo</label>
                        <input type="file" name="logo" id="">
            </div>
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="brand[name]" value="<%=brand.name%>">
            </div>
            <div>
                <label for="headquarters">Headquarters</label>
                <input type="text" id="headquarters" name="brand[headquarters]" size="50"
                    value="<%=brand.headquarters%>">
            </div>
            <div>
                <label for="website">Website</label>
                <input type="url" id="website" name="brand[website]" value="<%=brand.website%>">
            </div>
            <div>
                <label for="employee">Employee number</label>
                <label for="employee-min">Min:</label>
                <input type="number" id="employee-min" name="brand[employee][min]" value="<%=brand.employee.min%>">
                <label for="employee-min">Max:</label>
                <input type="number" id="employee-max" name="brand[employee][max]" value="<%=brand.employee.max%>">
            </div>
            <div>
                <label for="description">Description</label>
                <textarea name="brand[description]" id="description" cols="30" rows="10"
                    value="<%=brand.description%>"></textarea>
            </div>

            <button class="btn">Update brand</button>
        </form>
        <br>
        <a href="/brands/<%=brand._id%>" class="btn internal-btn">Back to brand</a>

    </section>

    <!-- For javascript validation later on -->
    <!-- Review bootstrap implementation and its javascript -->