<% layout("/layouts/boilerplateInternal.ejs") %>
    <div class="internal-nav flex">
        <a href="/" class="internal-nav-item">Client Landing Page</a>
        <a href="/home" class="internal-nav-item">Client Home</a>
    </div>

    <section class="internal-main">

        <div class="search-bar">---------------------</div>
        <p>Brands List goes here</p>
        <div class="trending-brand-list">
            <ul class="brand-list">
                <% for (let brand of brands) { %>
                    <li><span class="name">
                            <%=brand.name%>
                        </span>
                        <a href="/internal/brands/<%=brand._id%>">Brand ID -></a>
                    </li>
                    <% } %>
            </ul>
        </div>
        <br>
        <br>

        <ul class="brand-list">
            <!-- <li class="brand-list__brand flex">
                <a href="" class="internal-main-brand-logo"><img src="/images/logo/unity.png" alt="" class="brand-list__brand-logo"></a>
                <div class="brand-list__text flex-column">
                    <a href="" class="brand-list__brand-title">Unity</a>
                    <p class="brand-list__brand-industry">Developer Platform, Augmented Reality, Mobile Apps</p>
                </div>
            </li> -->

            <% for (let brand of brands) { %>
                <li class="brand-list__brand flex">
                    <a href="/internal/brands/<%=brand._id%>" class="internal-main-brand-logo"><img src="<%=brand.logo.url%>" alt="" class="brand-list__brand-logo"></a>
                    <div class="brand-list__text flex-column">
                        <a href="/internal/brands/<%=brand._id%>" class="brand-list__brand-title"><%=brand.name%></a>
                        <p class="brand-list__brand-industry"><%=brand.industry%></p>
                    </div>
                </div>    
            <% } %>
            <!-- <div>

                <button class="view-more-btn">View More</button>
            </div> -->

        </ul>



        <div class="action-items">

            <div class="add-new-brand">
                <button class="internal-btn internal-main-btn brand-add">Add New Brand</button>
            </div>
            <br>

            <div class="view-action-history">
                <button class="internal-btn internal-main-btn ">View History</button>
            </div>

        </div>

        <p>-------------------------------------------------------</p>
        <p>-------------------------------------------------------</p>




    </section>


    <script src="/js/internal/index.js" type="module">
    </script>